<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Add Role</title>
</head>

<body>

	<!-- navbar -->
	<div th:replace="~{topnav :: topnav}">...</div>

	<form action="/admin/addRole" method="post">
		<input type="text" name="person_id" th:value="${person_id}" hidden />
		<div class="form-group">
			<label for="exampleInputEmail1">Role Name</label>
			<select class="form-select" aria-label="Default select example" id="name" name="name">
				<option th:each="r: ${roles}" th:value="${r}" th:text="${r}">
				</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Add Role</button>
	</form>


	<!-- bootstrapbody -->
	<div th:replace="~{bootstrapbody :: bootstrapbody}">...</div>


</body>

</html>