<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Patient Bill</title>
</head>

<body>
	<!-- navbar -->
	<div th:replace="~{topnav :: topnav}">...</div>
	<h2>Patient Bill</h2>

	<hr>
	<span th:if="${Error != null}">
		<div class="alert alert-danger" role="alert">
			<p th:text="${Error}"></p>
		</div>
	</span>

	<form action="/patient/getBill" method="post">

		<td><input type="text" name="id" th:value="${patient.id}" hidden /></td>

		<div class="form-group">
			<label for="exampleInputEmail1">Choose Doctor</label>
			<select class="form-select" aria-label="Default select example" id="doctor_id" name="doctor_id">
				<option th:each="doc: ${doctors}" th:text="${doc.employee.first_name}+' '+${doc.employee.last_name}"
					th:value="${doc.id}">
				</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Get Bill</button>

	</form>


	<!-- bootstrapbody -->
	<div th:replace="~{bootstrapbody :: bootstrapbody}">...</div>

</body>

</html>