<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Update Doctor</title>
</head>

<body>
	<!-- navbar -->
	<div th:replace="~{topnav :: topnav}">...</div>
	<h2>Update Doctor</h2>

	<hr>
	<span th:if="${Error != null}">
		<div class="alert alert-danger" role="alert">
			<p th:text="${Error}"></p>
		</div>
	</span>

	<form action="/doctor/updateDoctor" method="post">
		<input type="text" name="id" th:value="${doctor.id}" hidden>
		<div class="form-group">
			<label for="exampleInputEmail1">Working days Name</label>
			<input type="checkbox" id="Saturday" name="working_days" value="Saturday">
			<label for="Saturday"> Saturday</label>
			<input type="checkbox" id="Sunday" name="working_days" value="Sunday">
			<label for="Sunday"> Sunday</label>
			<input type="checkbox" id="Monday" name="working_days" value="Monday">
			<label for="Monday"> Monday</label>
			<input type="checkbox" id="Tuesday" name="working_days" value="Tuesday">
			<label for="Tuesday"> Tuesday</label>
			<input type="checkbox" id="Wednesday" name="working_days" value="Wednesday">
			<label for="Wednesday"> Wednesday</label>
			<input type="checkbox" id="Thursday" name="working_days" value="Thursday">
			<label for="Thursday"> Thursday</label>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Working Hours</label>
			<input type="text" class="form-control" id="exampleInputEmail1" name="working_hours"
				th:value="${doctor.working_hours}" aria-describedby="emailHelp" placeholder="Enter Working Hours">
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Examination Price</label>
			<input type="text" class="form-control" id="exampleInputEmail1" name="examination_price"
				th:value="${doctor.examination_price}" aria-describedby="emailHelp"
				placeholder="Enter Examination Price">
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Description</label>
			<input type="text" class="form-control" id="exampleInputEmail1" name="description"
				th:value="${doctor.description}" aria-describedby="emailHelp" placeholder="Enter Examination Price">
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Department</label>
			<select class="form-select" aria-label="Default select example" id="department_id" name="department_id">
				<option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.name}">
				</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Add</button>

	</form>


	<!-- bootstrapbody -->
	<div th:replace="~{bootstrapbody :: bootstrapbody}">...</div>

</body>

</html>